%Y-%m-%d
%y-%m-%d
%d.%m.%y
%d.%m.%Y
%d/%m/%Y
%d/%m/%y
%m/%d/%Y
%m/%d/%y
%Y/%m/%d
%y/%m/%d
%d %b %Y
%d %b %y
%d-%b-%Y
%d-%b-%y
%d. %b %Y
%d. %b %y
%d.%b.%Y
%d.%b.%y
%Y-%b-%d
%Y%m%d
%d%m%Y
%Y-%m
## for stuff like 1st quarter of 2010, %q is [1-4] then
%Y %q.Q
